/** General **/
.loading {
  width: 100%;
  height: 100%;
  background: url(../images/loading.gif) #FFF no-repeat 50%;
  position: absolute;
  z-index: 99;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  /* min-height: 700px; */
}

.componentsBlock p {
  display: none;
}

.componentsBlock.dropdown p {
  display: block;
  background: url(../images/select-arrow.png) no-repeat;
  background-size: 25px;
  background-position: right;
  background-position-x: 95%;
  color: #fff;
  padding: 10px 0 10px 12px;
  cursor: pointer;
  margin: 0;
  color: #f1f1f1;
  opacity: 0.9;
}

.componentsBlock.dropdown p img {
  width: 24px;
}

.componentsBlock.dropdown p.role {
  background-color: #e3d34f;
}

.componentsBlock.dropdown p:hover {
  background-color: #e6da7b;
}

.componentsBlock.dropdown p.selected {
  background-color: #e3d34f;
  color: #fff;
  opacity: 1;
}

.componentsBlock.dropdown p.stage {
  background-color: #1281aa;
}

.componentsBlock.dropdown p.stage:hover {
  background-color: #2b9ec8;
}

.componentsBlock.dropdown p.stage.selected {
  background-color: #1281aa;
}

.componentsBlock.dropdown ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 90%;
  z-index: 10;
  box-shadow: 0px 1px 5px #ccc;
}

.componentsBlock.dropdown:hover ul {
  display: block !important;
}

.componentsBlock.dropdown ul li {
  background: #fff;
  list-style: none;
  color: #009688;
  padding: 5px 12px;
  margin: 0;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  opacity: 1;
}

.componentsBlock.dropdown ul li img {
  opacity: 1;
}

.componentsBlock.dropdown ul li .index {
  display: none;
}

.componentsBlock.dropdown ul li:hover {
  background: #f2f2f2;
}

.componentsBlock.dropdown ul li.current {
  background: #f1f1f1;
  font-weight: bold;
}

.results-selection {
  background: #f1f1f1;
  padding: 2em;
  font-size: 1.4em;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

span.optionText {
  font-family: 'Open Sans', sans-serif;
  padding: 6px;
}

.checkIcon {
  opacity: 0.2;
}

.checkIcon.checked {
  opacity: 1;
}

.results-query {
  font-family: 'Open Sans', sans-serif;
}

.results-query ul {
  padding: 0;
  margin: 12px 0 10px 0;
}

.results-query ul li.guidelineHead {
  list-style: none;
  font-weight: bold;
  margin-bottom: 5px;
}

.results-query ul li.guideline {
  background-color: #f1f1f1;
  border: 1px solid #efefef;
  border-radius: 2px;
  padding: 6px 8px 6px 8px;
  margin-bottom: 4px;
  list-style: none;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  position: relative;
}

.results-query ul li.guideline:hover {
  background-color: #f5eeee;
}

.results-query ul li.guideline label {
  cursor: pointer;
  font-weight: normal;
  padding-right: 119px;
  padding-left: 47px;
}

.results-query ul li.guideline span.level {
}

.results-query ul li.guideline span.title {
  padding-left: 5px;
  color: #545454;
  font-size: 0.95em;
}

.results-query .messageResult {
  font-weight: lighter;
  color: #969696;
}

/* Checkbox */
.inputsFlat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.inputsFlat input[type="checkbox"] + .checkbox-label {
  margin: 0 !important;
  font-weight: normal;
  cursor: pointer;
  /* padding: 0px 10px !important; */
}

.inputsFlat input[type="checkbox"] + .checkbox-label:before {
  content: '';
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  position: relative;
  /* top: -0.2em; */
  margin-right: 0.3em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.inputsFlat input[type="checkbox"]:checked + .checkbox-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.inputsFlat input[type="checkbox"]:focus + .checkbox-label:before {
  outline: none;
  border-color: #3197EE;
}

.inputsFlat input[type="checkbox"]:disabled + .checkbox-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.inputsFlat input[type="checkbox"] + .checkbox-label:empty:before {
  margin-right: 0;
}

/* Importance Levels colors*/
.level {
  border-radius: 0px;
  padding: 10px 9px;
  font-size: 12px;
  text-align: center;
  width: 108px;
  position: absolute;
  right: 0;
  top: 0;
  /* box-shadow: 1px 1px 1px rgba(0,0,0,0.1); */
}

.Very, .level-4 {
  background-color: #c0504d;
  color: #fff;
}

.Important, .level-3 {
  background-color: #da9694;
  color: #fff;
}

.Useful, .level-2 {
  background-color: #e6b8b7;
  color: #fff;
}

.Optional, .level-1 {
  background-color: #f7f4f4;
  color: #222;
}

.level-undefined {
  background-color: #fffbd8;
  color: #222;
}


/* NEW CSS */
.grayBox {
  background-color: #f1f1f1;
  /* height: 100%; */
  padding: 8px;
}

.grayBoxTerms {
  background-color: #f1f1f1;
  /* height: 100%; */
  padding: 1em;
  width: 95%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.componentsBlock {
  /* height: 469px; */
}

.type-role .image {
  width: 42%;
}

.type-role .name {
  width: 53%;
  float: right;
  padding-top: 27%;
}

li.type-role {
  padding: 0 0.7em;
}

li.type-role:hover {
  /* padding: 0 0.8em; */
  background-color: rgba(255,255,255, 0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0, 0.1);
  font-weight: bold !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

.headTitle {
  font-family: 'Open Sans';
  font-weight: lighter;
}

li.type-stage {
  margin: 0.6em 0;
  padding: 13px;
  background-color: #1281aa;
  color: #fff;
  border-left: 36px solid #10759a;
}

li.type-stage:hover {
  background-color: #10759a;
}

li.type-stage .index {
  margin-left: -36px;
  margin-right: 24px;
  font-weight: bold;
}

li.type-stage .description {
  font-weight: lighter;
  font-style: italic;
  font-size: 0.9em;
}

li.type-category {
  margin: 0.3em 0em;
  padding: 12px 0px 0px 18px;
  background-color: #47939c;
  color: #fff;
  border-left: 20px solid #3e8087;
  height: 46px;
  font-size: 0.9em;
}

li.type-category:hover {
  background-color: #40828a;
}

li.type-category .index {
  margin-left: -32px;
  margin-right: 10px;
  font-weight: bold;
}

/* Countdown */
.countdown-styled div {
  display: inline-block;
  margin: 0 5px 1em;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  text-align: right;
  /* IE7 inline-block hack */
  *display: inline;
  *zoom: 1; }

.countdown-styled div:first-child {
  margin-left: 0;
}

.countdown-styled div:last-child {
  margin-right: 0;
}

.countdown-styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}

.overlayBox {
  background-color: #f1f1f1;
  /* position: absolute; */
  z-index: 1;
  /* height: 695px; */
  width: 100%;
}

.countdownBox {
  padding: 1em;
  /* background-color: rgba(255,255,255, 0.8); */
  /* border-bottom: 1px solid #ccc; */
}

/* selectionComponent */
li.selectionComponent {
  cursor: pointer;
}

li.selectionComponent.notSelected {
  cursor: pointer;
  opacity: 0.7;
}

li.selectionComponent.notSelected img {
  opacity: 0.5;
}

li.selectionComponent.current {
  cursor: initial;
  opacity: 1;
  font-weight: bold !important;
}

li.selectionComponent.current img {
  opacity: 1;
}

#side-form1 {
  margin: 4px;
  width: 100%;
  float: left;
}

#side-form2 {
  margin: 0px 0px 10px 0px;
  width: 100%;
  float: right;
}

#side-form3 {
  clear: both;
}

#side-left {
  width: 690px;
  float: left;
}

#side-right {
  float: left;
  width: 240px;
  height: 450px;
}

#step4-form {
  padding: 19px 43px;
  /* margin: 0px 25px 25px 25px; */
  /* width: 560px; */
  /* height: auto; */
  /* background: #F1F1F1; */
}

.error {
  font-size: 13px;
  line-height: 13px;
}

.resultsBlock {
  margin-left: -35px;
  padding: 0 2em;
}

#guidelines li {
  background-color: #f1f1f1;
  padding: 8px 0 5px 39px;
  background-position: 12px;
  margin-bottom: 2px;
}

#guidelines {
  margin-bottom: 14px;
}

/* CUSTOM CHECKBOX INPUTS */
/* The container */
.inputContainer {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.inputContainer input {
  display: none;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.inputContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.inputContainer input:checked ~ .checkmark {
  background-color: #2196F3;
  border-color: #1b91ef;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.inputContainer:hover input:checked ~ .checkmark {
  background-color: #60adea;
  border-color: #60adea;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.inputContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.inputContainer .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

li.guideline.type-0 {
  background: url('../images/type-0.png') no-repeat;
  background-position: 36px 8px;
}

li.guideline.type-1 {
  background: url('../images/type-1.png') no-repeat;
  background-position: 33px 8px;
}

.btn {
  border-radius: 0;
}

.left-bar {
  width: 74%;
  /* min-width: 500px; */
  float: left;
}

.right-bar {
  width: 26%;
  float: right;
}

#step3-form {
  padding: 1.5em;
}

span.guidelineType {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

span.guidelineType-0 {
  background: url('../images/type-0.png') no-repeat;
}

span.guidelineType-1 {
  background: url('../images/type-1.png') no-repeat;
}

tr.active-0 {
  opacity: 0.35;
}

td.importanceLevel {
  width: 35px;
}